$yellow: #fff159;
$blue: #3483fa;
$dark-gray: rgba(0, 0, 0, 0.8);
$dark-gray-2:#333;
$dark-gray-3: rgba(0, 0, 0, 0.9);
$gray-subtitle: rgba(0,0,0,0.45);
$gray-breadcrumb: rgba(0,0,0,0.3);
$gray-border: rgba(0,0,0,0.2);
$medium-gray: #666666;
$medium-gray-2: #999999;
$light-gray-font: #ebebeb;
$light-gray-background: #ededed;
$white: #ffffff;
